## Final Project Submission

Please fill out:
* Student name: Joackim Kisienya
* Student pace: part time 
* Scheduled project review date/time: 29/04/2025
* Instructor name: Maryann Mwikali
* Blog post URL:

# Business understanding-goals
## Introduction
The company I am working with is interested in purchasing and operating airplanes for commercial and private enterprises.I seek  to determine which aircraft are the lowest risk for the company to start this new business endevor. This will assist the head of the new aviation division make a decision on which aircraft to purchase.

# Data understanding
The data [Aviation_Data.csv](https://www.kaggle.com/datasets/khsamaha/aviation-accident-database-synopses) is sourced from kaggle and it is from the National Transport safety Board.It contains information from 1962 to 2023 about civil aviation accidents and selected incidents within the United States, its territories and possessions, and international waters.

In [1]:
# Your code here - remember to use markdown cells for comments as well!
import pandas as pd #import pandas library to manipulate our csv data

## Data inspection

In [2]:
Aviation = pd.read_csv('data\Aviation_Data.csv', low_memory = False) #Reading Aviation_Data.csv into a DataFrame 
Aviation.head() #Display the first five records

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.922223,-81.878056,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980

In [3]:
#Printing columns and their data types
print('\nColumn and their data types:')
print(Aviation.dtypes)

#print number of rows and columns
num_rows, num_cols = Aviation.shape
print(f"\nNumber of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Column and their data types:
Event.Id                   object
Investigation.Type         object
Accident.Number            object
Event.Date                 object
Location                   object
Country                    object
Latitude                   object
Longitude                  object
Airport.Code               object
Airport.Name               object
Injury.Severity            object
Aircraft.damage            object
Aircraft.Category          object
Registration.Number        object
Make                       object
Model                      object
Amateur.Built              object
Number.of.Engines         float64
Engine.Type                object
FAR.Description            object
Schedule                   object
Purpose.of.flight          object
Air.carrier                object
Total.Fatal.Injuries      float64
Total.Serious.Injuries    float64
Total.Minor.Injuries      float64
Total.Uninjured           float64
Weather.Condition          object
Broad.phase.of.flight      object
Report.Status              object
Publication.Date           object
dtype: object

Number of rows: 90348
Number of columns: 31

# Data Preparation
* Checking for missing values.
* Handling missing values.
* Handling the data types.
* Renaming columns.

In [4]:
#checking for missing values in our dataset
Aviation.isnull().sum()

Event.Id                   1459
Investigation.Type            0
Accident.Number            1459
Event.Date                 1459
Location                   1511
Country                    1685
Latitude                  55966
Longitude                 55975
Airport.Code              40216
Airport.Name              37644
Injury.Severity            2459
Aircraft.damage            4653
Aircraft.Category         58061
Registration.Number        2841
Make                       1522
Model                      1551
Amateur.Built              1561
Number.of.Engines          7543
Engine.Type                8555
FAR.Description           58325
Schedule                  77766
Purpose.of.flight          7651
Air.carrier               73700
Total.Fatal.Injuries      12860
Total.Serious.Injuries    13969
Total.Minor.Injuries      13392
Total.Uninjured            7371
Weather.Condition          5951
Broad.phase.of.flight     28624
Report.Status              7843
Publication.Date          16689
dtype: int64

In [5]:
#checking for percentage of missing values in our dataset
((Aviation.isnull()|Aviation.isna()).sum() *100 / Aviation.index.size).round(2)

Event.Id                   1.61
Investigation.Type         0.00
Accident.Number            1.61
Event.Date                 1.61
Location                   1.67
Country                    1.87
Latitude                  61.94
Longitude                 61.95
Airport.Code              44.51
Airport.Name              41.67
Injury.Severity            2.72
Aircraft.damage            5.15
Aircraft.Category         64.26
Registration.Number        3.14
Make                       1.68
Model                      1.72
Amateur.Built              1.73
Number.of.Engines          8.35
Engine.Type                9.47
FAR.Description           64.56
Schedule                  86.07
Purpose.of.flight          8.47
Air.carrier               81.57
Total.Fatal.Injuries      14.23
Total.Serious.Injuries    15.46
Total.Minor.Injuries      14.82
Total.Uninjured            8.16
Weather.Condition          6.59
Broad.phase.of.flight     31.68
Report.Status              8.68
Publication.Date          18.47
dtype: float64

In [6]:
#Drop missing values from selected columns.
Aviation.dropna(subset=['Event.Id','Accident.Number','Event.Date','Location','Country','Engine.Type','Purpose.of.flight','Weather.Condition','Aircraft.damage','Registration.Number','Make'
                                 ,'Model','Amateur.Built','Number.of.Engines','Engine.Type','Total.Fatal.Injuries','Report.Status','Publication.Date','Registration.Number'], inplace=True)

In [7]:
#create a new dataframe of a selection of columns from Aviation Dataframe.
New_Aviation_df = Aviation[['Event.Id','Accident.Number','Event.Date','Location','Country','Engine.Type','Purpose.of.flight','Weather.Condition','Aircraft.damage','Registration.Number','Make'
                                 ,'Model','Amateur.Built','Number.of.Engines','Engine.Type','Total.Fatal.Injuries','Report.Status','Publication.Date','Registration.Number']]
New_Aviation_df.head()

,Event.Id,Accident.Number,Event.Date,Location,Country,Engine.Type,Purpose.of.flight,Weather.Condition,Aircraft.damage,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Report.Status,Publication.Date,Registration.Number
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Reciprocating,Personal,UNK,Destroyed,N5069P,Piper,PA24-180,No,1.0,Reciprocating,4.0,Probable Cause,19-09-1996,N5069P
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Reciprocating,Personal,IMC,Destroyed,N5142R,Cessna,172M,No,1.0,Reciprocating,3.0,Probable Cause,26-02-2007,N5142R
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Reciprocating,Personal,IMC,Destroyed,N1168J,Rockwell,112,No,1.0,Reciprocating,2.0,Probable Cause,12-09-2000,N1168J
6,20001218X45446,CHI81LA106,1981-08-01,"COTTON, MN",United States,Reciprocating,Personal,IMC,Destroyed,N4988E,Cessna,180,No,1.0,Reciprocating,4.0,Probable Cause,06-11-2001,N4988E
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Reciprocating,Personal,VMC,Substantial,N2482N,Cessna,140,No,1.0,Reciprocating,0.0,Probable Cause,01-01-1982,N2482N

In [8]:
#format values in our column 'Make' to title case.
pd.options.mode.copy_on_write = True
New_Aviation_df["Make"] = New_Aviation_df["Make"].map(str)

In [14]:
New_Aviation_df["Make"]=New_Aviation_df["Make"].str.title()

In [15]:
#Number of each airplane model in our dataset. Cessna make has the highest number.
counts = New_Aviation_df["Make"].value_counts()
counts

Make
Cessna               17005
Piper                 9431
Beech                 3376
Bell                  1405
Mooney                 837
                     ...
Girgen                   1
Mejia                    1
Sheets                   1
Cawood                   1
Stephen J Hoffman        1
Name: count, Length: 5332, dtype: int64

In [16]:
New_Aviation_df.head()

,Event.Id,Accident.Number,Event.Date,Location,Country,Engine.Type,Purpose.of.flight,Weather.Condition,Aircraft.damage,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Report.Status,Publication.Date,Registration.Number
1,20001218X45447,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Reciprocating,Personal,UNK,Destroyed,N5069P,Piper,PA24-180,No,1.0,Reciprocating,4.0,Probable Cause,19-09-1996,N5069P
2,20061025X01555,NYC07LA005,1974-08-30,"Saltville, VA",United States,Reciprocating,Personal,IMC,Destroyed,N5142R,Cessna,172M,No,1.0,Reciprocating,3.0,Probable Cause,26-02-2007,N5142R
3,20001218X45448,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Reciprocating,Personal,IMC,Destroyed,N1168J,Rockwell,112,No,1.0,Reciprocating,2.0,Probable Cause,12-09-2000,N1168J
6,20001218X45446,CHI81LA106,1981-08-01,"COTTON, MN",United States,Reciprocating,Personal,IMC,Destroyed,N4988E,Cessna,180,No,1.0,Reciprocating,4.0,Probable Cause,06-11-2001,N4988E
7,20020909X01562,SEA82DA022,1982-01-01,"PULLMAN, WA",United States,Reciprocating,Personal,VMC,Substantial,N2482N,Cessna,140,No,1.0,Reciprocating,0.0,Probable Cause,01-01-1982,N2482N

In [17]:
counts1 = New_Aviation_df["Model"].value_counts()
counts1

Model
152                  1548
172                  1160
172N                  775
PA-28-140             607
150                   541
                     ...
SN-601                  1
PA34-200                1
SWEARINGEN SX 300       1
B-727-200A              1
MS-500                  1
Name: count, Length: 7949, dtype: int64

In [26]:
# counts = New_Aviation_df["Make"].value_counts()
# counts
New_Aviation_df.sort_values(by='Make')

,Event.Id,Accident.Number,Event.Date,Location,Country,Engine.Type,Purpose.of.flight,Weather.Condition,Aircraft.damage,Registration.Number,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,Total.Fatal.Injuries,Report.Status,Publication.Date,Registration.Number
61776,20061214X01790,DEN07WA031,2006-12-03,"Langenthal, Switzerland",Switzerland,Reciprocating,Personal,VMC,Destroyed,N107FP,107.5 Flying Corporation,One Design DR 107,Yes,1.0,Reciprocating,1.0,Foreign,14-12-2006,N107FP
75279,20140507X00328,WPR14LA185,2014-05-04,"Bluffdale, UT",United States,Reciprocating,Personal,VMC,Substantial,N177MF,177Mf Llc,PITTS MODEL 12,No,1.0,Reciprocating,0.0,A complete loss of engine power for reasons th...,25-09-2020,N177MF
35242,20001206X01618,SEA94LA142,1994-06-08,"SALT LAKE CITY, UT",United States,Reciprocating,Personal,VMC,Destroyed,N25074,1St Ftr Gp,FOCKE-WULF 190,Yes,1.0,Reciprocating,1.0,Probable Cause,07-12-1994,N25074
64442,20080611X00834,DFW08IA126,2008-05-01,"Uvalde, TX",United States,Turbo Prop,Personal,VMC,Minor,N603JS,2007 Savage Air Llc,EPIC LT,Yes,1.0,Turbo Prop,0.0,The pilot's excessive speed during a turn off ...,25-09-2020,N603JS
25602,20001212X23056,ATL90DKJ04,1990-05-27,"TUSCALOOSA, AL",United States,Reciprocating,Personal,VMC,Substantial,N1113D,67 Flying Dutchman,D1/LFD-13,Yes,1.0,Reciprocating,0.0,Probable Cause,21-09-1992,N1113D
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
63179,20070820X01208,DEN07FA136,2007-08-15,"MOSQUERO, NM",United States,Reciprocating,Personal,VMC,Substantial,N808GS,Zlin Aviation S.R.O.,Savage,No,1.0,Reciprocating,2.0,Probable Cause,30-04-2008,N808GS
75671,20140707X50511,ERA14LA330,2014-07-06,"Mattituck, NY",United States,Reciprocating,Personal,VMC,Substantial,N79ZR,Zubair S Khan,RAVEN,Yes,1.0,Reciprocating,1.0,The pilot's failure to ensure that the airplan...,25-09-2020,N79ZR
40931,20001208X07108,NYC97LA020,1996-11-23,"WILLIAMSPORT, PA",United States,Reciprocating,Personal,VMC,Substantial,N818Z,Zukowski,EAA BIPLANE,Yes,1.0,Reciprocating,0.0,Probable Cause,30-06-1997,N818Z
43425,20001211X09604,NYC98LA068,1998-02-22,"WEYERS CAVE, VA",United States,Reciprocating,Personal,VMC,Substantial,N955F,Zwart,KIT FOX VIXEN,Yes,1.0,Reciprocating,0.0,Probable Cause,27-08-1999,N955F
80361,20170501X13028,GAA17CA301,2017-04-30,"Napa, CA",United States,Reciprocating,Personal,VMC,Substantial,N89SR,Zwicker Murray R,GLASTAR,Yes,1.0,Reciprocating,0.0,The amphibious float-equipped airplane's encou...,25-09-2020,N89SR